/*GLOBAL*/

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

/*Navegation*/

.nav-item {
    cursor: pointer;
}
/*Contact*/

.info {
    font-size: 2rem;
}

.info span {
    color: #b70e21;
}

/*Contenido*/

.modal-content {
    top: 10em;
}

/*LOGO*/
#logo {
    width: 30px;
    height: 30px;
    border-radius: .3em;
    margin-right: .3em;
}
