/*GLOBAL*/

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

/*Navegation*/

#navegation {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0;
}
.nav-item {
    cursor: pointer;
}
/*Contact*/

.info {
    font-size: 2rem;
}

.info span {
    color: #b70e21;
}

/*Contenido*/

.contenido {
    width: 27%;
    margin: auto;
    height: auto;
    margin-top: 4em;
}
.modal-content {
    top: 10em;
}

/*LOGO*/

#logo {
    width: 30px;
    height: 30px;
    border-radius: .3em;
    margin-right: .3em;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}
