/* Global */
* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.nav-item {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: auto;
}

.footer-container {
  margin-top: 26.62%;
}

.navbar-nav {
  margin-left: 513px;
}
/*LOGO*/
#logo {
  width: 30px;
  height: 30px;
  margin-top: -3px;
  margin-right: .5em;
  margin-left: 9em;
  border-radius: .2em;
}

