/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #000000;
    color: #ffffff;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-item {
  cursor: pointer;
}

#cl {
  color: #ffffff;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* CARDS BANNER */
.cards-banner-two {
  width: 103%;
  height: 434px;
  padding: 5px;
  background: url("/img/Funny moments.png") no-repeat center center/cover;
  border-radius: 30px;
}

.cards-banner-two .content {
  width: 50%;
  padding: 100px 0 0 30px;
}

/* Follow */
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  margin-left: 16px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

#red {
  font-size: 3rem;
}
.footer-container {
  display: grid;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}

/*Canal*/

.video {
  width: 815px;
  height: 318px;
  padding: 7px;
  border-radius: 8px;
  background-color: rgba(0,0,0,.8);
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  margin: 45px;
  margin-bottom: 10px;
  margin-top: 4px;
  margin-left: 551px;
}

.resiframe {
  width: 800px;
  height: 304px;
}


#img {
  width: 30px;
  height: 30px;
  margin-top: -3px;
  margin-right: 11px;
  margin-left: 133px;
  border-radius: 5px;
}

/*border no tope*/


h3 {
  color: aliceblue;
} 

textarea.form-control {
  overflow: hidden;
  max-height: 200px;
  min-height: 38px;
}

.navbar-nav {
  margin-left: 513px;
}

/*MOBIL*/
@media (max-width: 500px) {
  .cards-banner-two, .content {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }
  .footer-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   align-items: flex-start;
   justify-content: center;
  }
  .video {
    width: 356px;
    height: 63vw;
    padding: 7px;
    border-radius: 8px;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    margin: 32px;
    margin-bottom: 4px;
    margin-top: 37px;
  }
  .resiframe {
    width: 342px;
    height: 246px;
  }
  .navbar-nav {
    margin-left: 0px;
  }
  #img {
    margin-left: 30px;
    margin-right: 3px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  #red {
    font-size: 31px;
  }

  .links {
    margin-left: 46px;
  }
}

/*BOTON*/

#zk {
  color: #ffffff;
}
